@{
    ViewData["Title"] = "Settings";
}

<h2>@ViewData["Title"]</h2>
<p>Manage your account settings here.</p>

<!-- Example Settings Options -->
<div class="settings mt-4">
    <h4>Profile Settings:</h4>
    <ul>
        <li><a href="#">Update Profile Picture</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Update Contact Information</a></li>
    </ul>
</div>
